<a href="https://colab.research.google.com/github/Desmyk/PYDATA/blob/main/Panda2_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
# Create an example dataframe about a fictional army
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}

print(raw_data)

{'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd'], 'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35], 'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9], 'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523], 'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345], 'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3], 'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1], 'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3], 'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}

In [54]:
# Create a dataframe and assign it to a variable called army.
# Don't forget to include the columns names in the order presented in the dictionary
# ('regiment', 'company', 'deaths'...) so that the column index order is consistent with the solutions. If omitted, pandas will order the columns alphabetically.

array = pd.DataFrame(raw_data)

print(array)

      regiment company  deaths  battles  size  veterans  readiness  armored  \
0   Nighthawks     1st     523        5  1045         1          1        1
1   Nighthawks     1st      52       42   957         5          2        0
2   Nighthawks     2nd      25        2  1099        62          3        1
3   Nighthawks     2nd     616        2  1400        26          3        1
4     Dragoons     1st      43        4  1592        73          2        0
5     Dragoons     1st     234        7  1006        37          1        1
6     Dragoons     2nd     523        8   987       949          2        0
7     Dragoons     2nd      62        3   849        48          3        1
8       Scouts     1st      62        4   973        48          2        0
9       Scouts     1st      73        7  1005       435          1        0
10      Scouts     2nd      37        8  1099        63          2        1
11      Scouts     2nd      35        9  1523       345          3        1

    deserters      origin
0           4     Arizona
1          24  California
2          31       Texas
3           2     Florida
4           3       Maine
5           4        Iowa
6          24      Alaska
7          31  Washington
8           2      Oregon
9           3     Wyoming
10          2    Louisana
11          3     Georgia

In [55]:
# Set the 'origin' column as the index of the dataframe

array = array.set_index('origin')

print(array)

              regiment company  deaths  battles  size  veterans  readiness  \
origin
Arizona     Nighthawks     1st     523        5  1045         1          1
California  Nighthawks     1st      52       42   957         5          2
Texas       Nighthawks     2nd      25        2  1099        62          3
Florida     Nighthawks     2nd     616        2  1400        26          3
Maine         Dragoons     1st      43        4  1592        73          2
Iowa          Dragoons     1st     234        7  1006        37          1
Alaska        Dragoons     2nd     523        8   987       949          2
Washington    Dragoons     2nd      62        3   849        48          3
Oregon          Scouts     1st      62        4   973        48          2
Wyoming         Scouts     1st      73        7  1005       435          1
Louisana        Scouts     2nd      37        8  1099        63          2
Georgia         Scouts     2nd      35        9  1523       345          3

            armored  deserters
origin
Arizona           1          4
California        0         24
Texas             1         31
Florida           1          2
Maine             0          3
Iowa              1          4
Alaska            0         24
Washington        1         31
Oregon            0          2
Wyoming           0          3
Louisana          1          2
Georgia           1          3

In [47]:
# Print only the column veterans

array[['veterans']]

            veterans
origin
Arizona            1
California         5
Texas             62
Florida           26
Maine             73
Iowa              37
Alaska           949
Washington        48
Oregon            48
Wyoming          435
Louisana          63
Georgia          345

In [7]:
# Print the columns 'veterans' and 'deaths'

array[['veterans', 'deaths']]

            veterans  deaths
origin
Arizona            1     523
California         5      52
Texas             62      25
Florida           26     616
Maine             73      43
Iowa              37     234
Alaska           949     523
Washington        48      62
Oregon            48      62
Wyoming          435      73
Louisana          63      37
Georgia          345      35

In [49]:
# Print the name of all the columns

print(array.columns.tolist())

['regiment', 'company', 'deaths', 'battles', 'size', 'veterans', 'readiness', 'armored', 'deserters']

In [10]:
# Select the 'deaths', 'size' and 'deserters' columns from Maine and Alaska

# print(array.isnull().sum())

maine_alaska = array.loc[(array['regiment'] == 'Maine') | (array['regiment'] == 'Alaska'), ['deaths', 'size', 'deserters']]

# Print the selected data
print(maine_alaska)

Empty DataFrame
Columns: [deaths, size, deserters]
Index: []

In [11]:
# Select the rows 3 to 7 and the columns 3 to 6


data = array.iloc[3:8, 3:7]

# Print the selected data
print(data)

            battles  size  veterans  readiness
origin
Florida           2  1400        26          3
Maine             4  1592        73          2
Iowa              7  1006        37          1
Alaska            8   987       949          2
Washington        3   849        48          3

In [12]:
# Select every row after the fourth row and all columns

data = array.iloc[4:, :]
print(data)

            regiment company  deaths  battles  size  veterans  readiness  \
origin
Maine       Dragoons     1st      43        4  1592        73          2
Iowa        Dragoons     1st     234        7  1006        37          1
Alaska      Dragoons     2nd     523        8   987       949          2
Washington  Dragoons     2nd      62        3   849        48          3
Oregon        Scouts     1st      62        4   973        48          2
Wyoming       Scouts     1st      73        7  1005       435          1
Louisana      Scouts     2nd      37        8  1099        63          2
Georgia       Scouts     2nd      35        9  1523       345          3

            armored  deserters
origin
Maine             0          3
Iowa              1          4
Alaska            0         24
Washington        1         31
Oregon            0          2
Wyoming           0          3
Louisana          1          2
Georgia           1          3

In [13]:
# Select every row up to the 4th row and all column

data = array.iloc[:4, :]

print(data)

              regiment company  deaths  battles  size  veterans  readiness  \
origin
Arizona     Nighthawks     1st     523        5  1045         1          1
California  Nighthawks     1st      52       42   957         5          2
Texas       Nighthawks     2nd      25        2  1099        62          3
Florida     Nighthawks     2nd     616        2  1400        26          3

            armored  deserters
origin
Arizona           1          4
California        0         24
Texas             1         31
Florida           1          2

In [75]:
# Select the 3rd column up to the 7th column

data = array.loc[:, 'battles':'armored']

print(data)

            battles  size  veterans  readiness  armored
origin
Arizona           5  1045         1          1        1
California       42   957         5          2        0
Texas             2  1099        62          3        1
Florida           2  1400        26          3        1
Maine             4  1592        73          2        0
Iowa              7  1006        37          1        1
Alaska            8   987       949          2        0
Washington        3   849        48          3        1
Oregon            4   973        48          2        0
Wyoming           7  1005       435          1        0
Louisana          8  1099        63          2        1
Georgia           9  1523       345          3        1

In [15]:
# Select rows where df.deaths is greater than 50

data = array[array['deaths'] > 50]

print(data)

              regiment company  deaths  battles  size  veterans  readiness  \
origin
Arizona     Nighthawks     1st     523        5  1045         1          1
California  Nighthawks     1st      52       42   957         5          2
Florida     Nighthawks     2nd     616        2  1400        26          3
Iowa          Dragoons     1st     234        7  1006        37          1
Alaska        Dragoons     2nd     523        8   987       949          2
Washington    Dragoons     2nd      62        3   849        48          3
Oregon          Scouts     1st      62        4   973        48          2
Wyoming         Scouts     1st      73        7  1005       435          1

            armored  deserters
origin
Arizona           1          4
California        0         24
Florida           1          2
Iowa              1          4
Alaska            0         24
Washington        1         31
Oregon            0          2
Wyoming           0          3

In [16]:
# Select rows where df.deaths is greater than 500 or less than 50

data = array[(array['deaths'] > 500) | (array['deaths'] < 50)]

print(data)

            regiment company  deaths  battles  size  veterans  readiness  \
origin
Arizona   Nighthawks     1st     523        5  1045         1          1
Texas     Nighthawks     2nd      25        2  1099        62          3
Florida   Nighthawks     2nd     616        2  1400        26          3
Maine       Dragoons     1st      43        4  1592        73          2
Alaska      Dragoons     2nd     523        8   987       949          2
Louisana      Scouts     2nd      37        8  1099        63          2
Georgia       Scouts     2nd      35        9  1523       345          3

          armored  deserters
origin
Arizona         1          4
Texas           1         31
Florida         1          2
Maine           0          3
Alaska          0         24
Louisana        1          2
Georgia         1          3

In [17]:
# Select all the regiments not named "Dragoons"

data = array[array['regiment'] != 'Dragoons']

print(data)

              regiment company  deaths  battles  size  veterans  readiness  \
origin
Arizona     Nighthawks     1st     523        5  1045         1          1
California  Nighthawks     1st      52       42   957         5          2
Texas       Nighthawks     2nd      25        2  1099        62          3
Florida     Nighthawks     2nd     616        2  1400        26          3
Oregon          Scouts     1st      62        4   973        48          2
Wyoming         Scouts     1st      73        7  1005       435          1
Louisana        Scouts     2nd      37        8  1099        63          2
Georgia         Scouts     2nd      35        9  1523       345          3

            armored  deserters
origin
Arizona           1          4
California        0         24
Texas             1         31
Florida           1          2
Oregon            0          2
Wyoming           0          3
Louisana          1          2
Georgia           1          3

In [70]:
# Select the rows called Texas and Arizona

data = array.iloc[[2, 0]]

print(data)

           regiment company  deaths  battles  size  veterans  readiness  \
origin
Texas    Nighthawks     2nd      25        2  1099        62          3
Arizona  Nighthawks     1st     523        5  1045         1          1

         armored  deserters
origin
Texas          1         31
Arizona        1          4

In [58]:
# Select the third cell in the row named Arizona

value = array.loc["Arizona", array.columns[2]]

print(value)

523

In [63]:
# Select the third cell down in the column named deaths

deaths = array['deaths'].iloc[2]

print(deaths)

25