<a href="https://colab.research.google.com/github/Desmyk/PYDATA/blob/main/pandas2_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:

raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'],
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

In [25]:
# Assign it to a variable called regiment.

regiment = pd.DataFrame(raw_data)

print(regiment)

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

In [11]:
# What is the mean preTestScore from the regiment Nighthawks?

nighthawks = regiment[regiment['regiment'] == 'Nighthawks']

regiment['regiment'] = pd.Categorical(regiment['regiment']).codes

nighthawks = regiment[regiment['regiment'] == 0]

mean = nighthawks['preTestScore'].mean()

print(mean)

15.5

In [12]:
# Present general statistics by company

data = regiment.groupby('company')

stats = data.describe()

print(stats)

        regiment                                           preTestScore  \
           count mean       std  min   25%  50%   75%  max        count
company
1st          6.0  1.0  0.894427  0.0  0.25  1.0  1.75  2.0          6.0
2nd          6.0  1.0  0.894427  0.0  0.25  1.0  1.75  2.0          6.0

                    ...              postTestScore                        \
              mean  ...    75%   max         count       mean        std
company             ...
1st       6.666667  ...   4.00  24.0           6.0  57.666667  27.485754
2nd      15.500000  ...  29.25  31.0           6.0  67.000000  14.057027


          min    25%   50%   75%   max
company
1st      25.0  34.25  66.0  70.0  94.0
2nd      57.0  58.25  62.0  68.0  94.0

[2 rows x 24 columns]

In [13]:
# What is the mean of each company's preTestScore?

data = regiment.groupby('company')

mean = data['preTestScore'].mean()

print(mean)

company
1st     6.666667
2nd    15.500000
Name: preTestScore, dtype: float64

In [14]:
# Present the mean preTestScores grouped by regiment and company

data = regiment.groupby(['regiment', 'company'])

mean = data['preTestScore'].mean()

print(mean)

regiment  company
0         1st         3.5
          2nd        27.5
1         1st        14.0
          2nd        16.5
2         1st         2.5
          2nd         2.5
Name: preTestScore, dtype: float64

In [16]:
# Present the mean preTestScores grouped by regiment and company without heirarchical indexing

data = regiment.groupby(['regiment', 'company'])

mean = data['preTestScore'].mean().reset_index()

print(mean)

   regiment company  preTestScore
0         0     1st           3.5
1         0     2nd          27.5
2         1     1st          14.0
3         1     2nd          16.5
4         2     1st           2.5
5         2     2nd           2.5

In [17]:
# Group the entire dataframe by regiment and company

data = regiment.groupby(['regiment', 'company'])

print(data)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7a85cdab6320>

In [18]:
# What is the number of observations in each regiment and company

data = regiment.groupby(['regiment', 'company'])

obs_count = data.size()

print(obs_count)

regiment  company
0         1st        2
          2nd        2
1         1st        2
          2nd        2
2         1st        2
          2nd        2
dtype: int64

In [28]:
# Iterate over a group and print the name and the whole data from the regiment

data = regiment.groupby('regiment')

# Iterate over the groups
for regiment_name, regiment_data in data:
    print(f"Regiment name: {regiment_name}")
    print(f"Regiment data: {regiment_data}")

Regiment name: Dragoons
Regiment data:    regiment company    name  preTestScore  postTestScore
4  Dragoons     1st   Cooze             3             70
5  Dragoons     1st   Jacon             4             25
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57
Regiment name: Nighthawks
Regiment data:      regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
Regiment name: Scouts
Regiment data:    regiment company   name  preTestScore  postTestScore
8    Scouts     1st  Sloan             2             62
9    Scouts     1st  Piger             3             70
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70