<a href="https://colab.research.google.com/github/Desmyk/PYDATA/blob/main/Pandas2_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
# Import the dataset from this address.
# Assign it to a variable called users.

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"

users = pd.read_csv(url, sep="|", index_col="user_id")

print(users.head())

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

In [5]:
# Discover what is the mean age per occupation

mean =  users.groupby("occupation")["age"].mean()

print(mean)

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [7]:
# Discover the Male ratio per occupation and sort it from the most to the least

Male = (
    users[users["gender"] == "M"]
    .groupby("occupation")
    .size()
    .divide(users.groupby("occupation").size())
)

print(Male)

occupation
administrator    0.544304
artist           0.535714
doctor           1.000000
educator         0.726316
engineer         0.970149
entertainment    0.888889
executive        0.906250
healthcare       0.312500
homemaker        0.142857
lawyer           0.833333
librarian        0.431373
marketing        0.615385
none             0.555556
other            0.657143
programmer       0.909091
retired          0.928571
salesman         0.750000
scientist        0.903226
student          0.693878
technician       0.962963
writer           0.577778
dtype: float64

In [8]:
# For each occupation, calculate the minimum and maximum ages

age_range = users.groupby("occupation")["age"].agg(["min", "max"])

print(age_range)

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

In [9]:
# For each combination of occupation and gender, calculate the mean age

mean_gender_occupation = users.groupby(["occupation", "gender"])["age"].mean()

print(mean_gender_occupation)

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

In [11]:
# For each occupation present the percentage of women and men

gender_occupation = (
    users.groupby("occupation")["gender"]
    .value_counts(normalize=True)
    .unstack()
    .multiply(100)
    .round(1)
    .rename_axis(["occupation"])
)

# Print the results
print(gender_occupation)

gender            F      M
occupation
administrator  45.6   54.4
artist         46.4   53.6
doctor          NaN  100.0
educator       27.4   72.6
engineer        3.0   97.0
entertainment  11.1   88.9
executive       9.4   90.6
healthcare     68.8   31.2
homemaker      85.7   14.3
lawyer         16.7   83.3
librarian      56.9   43.1
marketing      38.5   61.5
none           44.4   55.6
other          34.3   65.7
programmer      9.1   90.9
retired         7.1   92.9
salesman       25.0   75.0
scientist       9.7   90.3
student        30.6   69.4
technician      3.7   96.3
writer         42.2   57.8