<a href="https://colab.research.google.com/github/Desmyk/PYDATA/blob/main/panda2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [10]:
# import dataset from address
# Assign it to a variable named chipo

chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

In [18]:
# How many products cost more than $10.00

prod = chipo[chipo['item_price'] > 10.00]
print(prod.shape[0])

1130

In [22]:
# What is the price of each item (item name, item price)

X = chipo['item_name'].str.strip() + ' ' + chipo['item_price'].astype(str)
print(X)

0                Chips and Fresh Tomato Salsa 2.39
1                                        Izze 3.39
2                            Nantucket Nectar 3.39
3       Chips and Tomatillo-Green Chili Salsa 2.39
4                               Chicken Bowl 16.98
                           ...
4617                           Steak Burrito 11.75
4618                           Steak Burrito 11.75
4619                      Chicken Salad Bowl 11.25
4620                       Chicken Salad Bowl 8.75
4621                       Chicken Salad Bowl 8.75
Length: 4622, dtype: object

In [23]:
# Sort by the name of the item

Z = chipo.sort_values(by='item_name')
print(Z)

      order_id  quantity          item_name  \
3389      1360         2  6 Pack Soft Drink
341        148         1  6 Pack Soft Drink
1849       749         1  6 Pack Soft Drink
1860       754         1  6 Pack Soft Drink
2713      1076         1  6 Pack Soft Drink
...        ...       ...                ...
2384       948         1  Veggie Soft Tacos
781        322         1  Veggie Soft Tacos
2851      1132         1  Veggie Soft Tacos
1699       688         1  Veggie Soft Tacos
1395       567         1  Veggie Soft Tacos

                                     choice_description  item_price
3389                                        [Diet Coke]       12.98
341                                         [Diet Coke]        6.49
1849                                             [Coke]        6.49
1860                                        [Diet Coke]        6.49
2713                                             [Coke]        6.49
...                                                 ...         ...
2384  [Roasted Chili Corn Salsa, [Fajita Vegetables,...        8.75
781   [Fresh Tomato Salsa, [Black Beans, Cheese, Sou...        8.75
2851  [Roasted Chili Corn Salsa (Medium), [Black Bea...        8.49
1699  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
1395  [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...        8.49

[4622 rows x 5 columns]

In [35]:
# What was the quantity of the most expensive item ordered

quantity = chipo.groupby('item_name')['quantity'].sum().sort_values(ascending=False).iloc[0]

print(f"Quantity of the most expensive item ordered: {quantity}")

Quantity of the most expensive item ordered: 761

In [32]:
# How many times was a Veggie Salad Bowl ordered

orders = chipo[chipo['item_name'] == 'Veggie Salad Bowl'].shape[0]


print(f'Veggie salad Bowl was ordered: {orders} times')

Veggie salad Bowl was ordered: 18 times

In [31]:
# How many times did someone order more than one Canned Soda

orders = chipo[
      (chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)
]
orders = orders.shape[0]

print(f'orders with more than one canned soda is; {orders}')

orders with more than one canned soda is; 20