<a href="https://colab.research.google.com/github/Desmyk/PYDATA/blob/main/Pandas4_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import the necessary libraries
import pandas as pd
import numpy as np

In [49]:
# import dataset and Assign it to a variable called baby_names.

baby_names = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')
baby_names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1016395 entries, 0 to 1016394
Data columns (total 7 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Unnamed: 0  1016395 non-null  int64
 1   Id          1016395 non-null  int64
 2   Name        1016395 non-null  object
 3   Year        1016395 non-null  int64
 4   Gender      1016395 non-null  object
 5   State       1016395 non-null  object
 6   Count       1016395 non-null  int64
dtypes: int64(4), object(3)
memory usage: 54.3+ MB

In [48]:
# See the first 10 entries

baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

In [13]:
# Delete the column 'Unnamed: 0' and 'Id'
# deletes Unnamed: 0
del baby_names['Unnamed: 0']

# deletes Unnamed: 0
del baby_names['Id']

baby_names.head()

      Name  Year Gender State  Count
0     Emma  2004      F    AK     62
1  Madison  2004      F    AK     48
2   Hannah  2004      F    AK     46
3    Grace  2004      F    AK     44
4    Emily  2004      F    AK     41

In [5]:
# Are there more male or female names in the dataset?

baby_names['Gender'].value_counts()

Gender
F    558846
M    457549
Name: count, dtype: int64

In [21]:
# Group the dataset by name and assign to names

# group the data
names = baby_names.groupby("Name")

names.head()

            Name  Year Gender State  Count
0           Emma  2004      F    AK     62
1        Madison  2004      F    AK     48
2         Hannah  2004      F    AK     46
3          Grace  2004      F    AK     44
4          Emily  2004      F    AK     41
...          ...   ...    ...   ...    ...
1004923  Gryffin  2014      M    WI      5
1004950     Kroy  2014      M    WI      5
1004973     Owyn  2014      M    WI      5
1005707   Haylea  2005      F    WV      5
1012216  Coalton  2012      M    WV      7

[65502 rows x 5 columns]

In [22]:
# How many different names exist in the dataset?

len(names)

17632

In [25]:
# What is the name with most occurrences?

names.Count.idxmax()

Name
Aaban      693699
Aadan      120728
Aadarsh    323950
Aaden      121886
Aadhav     138429
            ...
Zyra       884656
Zyrah      881583
Zyren      910625
Zyria      237366
Zyriah     862166
Name: Count, Length: 17632, dtype: int64

In [46]:
# How many different names have the least occurrences?

min_count = names["Count"].min()
min_count
#least = names[names["Count"] == min_count]
#num_least = len(least)
#num_least

Name
Aaban      6
Aadan      5
Aadarsh    5
Aaden      5
Aadhav     6
          ..
Zyra       5
Zyrah      5
Zyren      6
Zyria      5
Zyriah     5
Name: Count, Length: 17632, dtype: int64

In [40]:
# What is the median name occurrence?

names["Count"].median()

Name
Aaban       6.0
Aadan       5.5
Aadarsh     5.0
Aaden      10.0
Aadhav      6.0
           ...
Zyra        6.0
Zyrah       5.5
Zyren       6.0
Zyria       6.0
Zyriah      6.0
Name: Count, Length: 17632, dtype: float64

In [31]:
# What is the standard deviation of names?

names.Count.std()

Name
Aaban       0.000000
Aadan       0.957427
Aadarsh          NaN
Aaden      21.154974
Aadhav           NaN
             ...
Zyra        1.154701
Zyrah       0.707107
Zyren            NaN
Zyria       0.737865
Zyriah      1.666667
Name: Count, Length: 17632, dtype: float64

In [47]:
# Get a summary with the mean, min, max, std and quartiles.

names.describe()

          Year                                                           \
         count         mean       std     min      25%     50%      75%
Name
Aaban      2.0  2013.500000  0.707107  2013.0  2013.25  2013.5  2013.75
Aadan      4.0  2009.750000  2.872281  2008.0  2008.00  2008.5  2010.25
Aadarsh    1.0  2009.000000       NaN  2009.0  2009.00  2009.0  2009.00
Aaden    196.0  2010.015306  2.044322  2005.0  2008.00  2010.0  2011.00
Aadhav     1.0  2014.000000       NaN  2014.0  2014.00  2014.0  2014.00
...        ...          ...       ...     ...      ...     ...      ...
Zyra       7.0  2012.142857  2.115701  2008.0  2011.50  2013.0  2013.50
Zyrah      2.0  2012.000000  1.414214  2011.0  2011.50  2012.0  2012.50
Zyren      1.0  2013.000000       NaN  2013.0  2013.00  2013.0  2013.00
Zyria     10.0  2008.900000  2.685351  2005.0  2007.25  2008.0  2010.50
Zyriah     9.0  2009.666667  2.915476  2006.0  2007.00  2009.0  2012.00

                 Count
            max  count       mean        std  min   25%   50%    75%    max
Name
Aaban    2014.0    2.0   6.000000   0.000000  6.0  6.00   6.0   6.00    6.0
Aadan    2014.0    4.0   5.750000   0.957427  5.0  5.00   5.5   6.25    7.0
Aadarsh  2009.0    1.0   5.000000        NaN  5.0  5.00   5.0   5.00    5.0
Aaden    2014.0  196.0  17.479592  21.154974  5.0  6.00  10.0  20.00  158.0
Aadhav   2014.0    1.0   6.000000        NaN  6.0  6.00   6.0   6.00    6.0
...         ...    ...        ...        ...  ...   ...   ...    ...    ...
Zyra     2014.0    7.0   6.000000   1.154701  5.0  5.00   6.0   6.50    8.0
Zyrah    2013.0    2.0   5.500000   0.707107  5.0  5.25   5.5   5.75    6.0
Zyren    2013.0    1.0   6.000000        NaN  6.0  6.00   6.0   6.00    6.0
Zyria    2014.0   10.0   5.900000   0.737865  5.0  5.25   6.0   6.00    7.0
Zyriah   2014.0    9.0   6.444444   1.666667  5.0  5.00   6.0   7.00   10.0

[17632 rows x 16 columns]